{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <!-- Ticker Lookup -->
    <form action="/buy" method="post">
        <!-- Get Stock -->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Ticker Symbol" type="text">
        </div>

        <!-- Get Number of Shares -->
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="text">
        </div>

        <!-- Submit Request -->
        <button class="btn btn-primary" type="submit">Purchase</button>
    </form>

    <!-- Current Funds -->
    <h4 class="display-4">Current Balance: {{ balance | usd}}</h2>

    <!-- Add Funds -->
    <form action="/add_funds" method="post">
        <!-- Get Amount to Add -->
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="deposit" name="deposit" placeholder="Amount to Deposit" type="number">
        </div>

        <!-- Submit Request -->
        <button class="btn btn-primary" type="submit">Deposit</button>
    </form>
{% endblock %}
